/*
 * PHP UK Conference styles
 */ 
 
/* =Fonts
---------------------------------------------------------------- */
@font-face {
    font-family: 'SteelfishRgRegular';
    src: url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot');
    src: url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.woff') format('woff'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.svg#SteelfishRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SteelfishRgItalic';
    src: url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.eot');
    src: url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.woff') format('woff'),
         url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_italic_macroman/steelfish_rg_it-webfont.svg#SteelfishRgItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot');
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/bebas_neue/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* =Structure
-------------------------------------------------------------- */

html, body {
    height: 100%
    
}
body {
    font-family:  "Arial", sans-serif;
    font-size: 16px; /*All other font sizes derived at percentages */
    line-height: 140%;
    background-color: #121212;
}

h1 {
	font-family: "SteelfishRgItalic";
	font-size: 135%;
	color: #da9e26;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;	
	}
h2 {
	
	}
h3 {
	padding-bottom: 20px;
	font-size: 140%;
	}
ul {
	
}
ol {
	
}
a {
	color: #60B5C9;
	text-decoration: none;
	
	}
#main p {
	font-family: 'Arial';
	padding-bottom: 20px;
}
.transparent {
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
img.left-ribbon {
	display: inline-block;
	width: 30px;
	padding-right: 5px;
	
}
	
img.right-ribbon {
	display: inline-block;
	width:30px;
	margin-top: -5px;
	padding-left: 5px;
}

.standard-button {
    font-family: "BebasNeueRegular";
    color: #565656;
    text-decoration:none;
    text-shadow: #000 1px 1px;
    border-top: 1px solid f8a912;
    -moz-border-radius: 2px;
 	-webkit-border-radius: 2px;
  	-moz-box-shadow: 1px 1px 2px #999999;
  	-webkit-box-shadow: 1px 1px 2px #999999;
  	border-radius: 2px;
  	box-shadow: 1px 1px 2px #999999;
  	padding: 0 20px;
  	
    

    /*** Adding CSS3 Gradients ***/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#da9e26), to(#ac7916));
    background:  -moz-linear-gradient(0% 100% 90deg, #ac7916,  #da9e26);
}


/* = Page Content 
-------------------------------------------------------------- */
	
#page {
 	display: block;
 	width: 100%;
	max-width: 1920px;
	margin: 0 auto -171px;	 
	background: #fff;
	background: #efefef url(images/fallback-gradient.png);
	background-image: -webkit-gradient(radial, 50% 45%, 0, 50% 80%, 100 from(#fff), to(#efefef));
	background-image: -webkit-radial-gradient(50% 45%, closest-corner, #fff, #efefef); 
	background-image: -moz-radial-gradient(50% 45%, closest-corner, #fff, #efefef);
	background-image: -ms-radial-gradient(50% 45%, closest-corner, #fff, #efefef);
	background-image: -o-radial-gradient(50% 45%, closest-corner, #fff, #efefef); 
	min-height: 100%;
	height: auto !important;
}

img.header-image {
    width: 100%;
	position: absolute;
	top: 0;
	margin: auto;
	max-width: 1920px;
	max-height: 700px;
}

img.header-logo {
	width: 100%;
	}

#access {
	background-color: #25272c;
	width: 100%;
	padding-top: 0.3%;
	padding-bottom: 0.3%;
	z-index: 105;
	color:white;
	font-family: "BebasNeueRegular";
	position: relative;  
	max-width: 1920px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 150%;
}
#left-menu {
	text-align:right;
	width:40%;
	float: left;
	z-index: 110;
	position: relative;
}
#right-menu {
	text-align:left;
	width: 40%;
	float: right;
	z-index: 110;
	position: relative;
}
#access ul {
	display: inline-block;
	position: relative;
}
#access li {
	position: relative;
	display: inline-block;
}
#access a {
	max-width: 1920px;
	width: 100%;
	line-height: 1em;
	padding: 0 1em;
	text-decoration: none;
	color: #fff;
	z-index: 1000;
	position: relative;	
}

#left-menu li:hover > a {
	color: #2492a2;
}
#right-menu li:hover > a {
	color: #2492a2;
}
#access ul li:hover > ul {
	display: block;
}


#header {
	}
	#header-logo {
	text-align: center;
	position:relative;
	z-index: 107;
	margin-top: -3%;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
	}

#header-text {
	text-align: center;
	position:relative;
	padding-top: 5.5%;
}
.big-title-text {	
	font-family: "SteelfishRgRegular";
	font-size: 600%;
	color: #fff;
}
.small-title-text {	
	font-family: "SteelfishRgRegular";
	font-size: 250%;
	color: #fff;
}
#header-sub-text{
	padding-top: 0.5%;
	text-align: center;
	position:relative;
	}
.sub-title-text{
	font-family: "SteelfishRgRegular";
	font-size: 250%;
	color: #da9e26;
	padding-right: 3px;
	}
#header-circle-wrapper {
	}
#header-circles {
	position:relative;
	z-index: 103;
	text-align: center;
	width: 100%;
	}
img.circle {
	padding: 7% 3%;
	width: 14%;
	}

#bar-below-header {
	height: 60px;
	background-color:black;
	margin-top: -60px;
	max-width: 1920px;
}
#content-bar-below-header {
	font-family: "SteelfishRgRegular";
	height: 60px;
	margin-top: -60px;
	position:relative;
	width: 60%;
	overflow:visible;
	max-width: 920px;
}
#mobile-content-bar-below-header {
	font-family: "SteelfishRgRegular";
	height: 60px;
	margin-top: -60px;
	position:relative;
	width: 80%;
	display: none;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	overflow: visible;
}

img.ticket-image {	
	z-index:110;
	}
#main {
	width:90%;
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
	padding-top: 30px;
	max-width: 1140px;
	padding-bottom: 60px;
}
#submit-abstract {
	font-size: 140%;
	margin: auto;
	text-align: center;	
	padding-bottom: 20px;
}

#footer {
	width: 100%;
	margin: auto;
	background-color: #25272c;
	position:relative;
	clear: both;
	max-width: 1920px;
	border-top: 20px solid #000;
	}
.footer {
height: 151px;
}
.push {
height: 171px;
}
#footer-content {
	padding-top: 2%;
	width: 90%;
	color: #fff;
}

#contact-info{
	font-style: "BebasNeueRegular";
	font-size: 80%;
	color: #60b5c9;
	text-align: right;
	}
	#social-media{
	font-style: "BebasNeueRegular";
	font-size: 80%;
	color: #60b5c9;
	}
	#php-london{
	font-style: "BebasNeueRegular";
	font-size: 80%;
	color: #60b5c9;
	}
img.email-image {
	padding-top: 1%;
	width:12%;
}
img.octocat {
	padding-top: 1%;
	width:15%;
}

#brewery-image {
	width:90%;
	margin: auto;
}
img.brewery-image {
	width:100%;
}
#brewery-map {
	width:50%;
	margin:auto;
	padding-top: 50px;
}
#FourOhFour {
	font-family: "SteelfishRgRegular";
	font-size: 200%;
	color: #60b5c9; 
}

/* =Navigation
-------------------------------------------------------------- */



/* =Images
-------------------------------------------------------------- */

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}

img.alignleft {
	float: left;
}
img.alignright {
	float: right;
}

/* =Footer
-------------------------------------------------------------- */


/* = jQuery Countdown 
-------------------------------------------------------------- */
.hasCountdown {
	color: white;
	padding-top: 1%;
	width: 50%
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	/*width: 32.5%;*/
	/* Reduced to cope with IE issue */
	width: 30%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 100%;
	text-align: center;
	font-family: 'SteelfishRgRegular';
}
.countdown_amount {
	font-family: 'SteelfishRgRegular';
	font-size: 150%;
	color:  #da9e26;
}
.countdown_descr {
	font-size: 190%;
	display: inline;
	font-family: 'SteelfishRgRegular';
	color: #da9e26;
}

.circle-frame {
    border-radius: 100%;
    margin: 3%;
}

.profile img{
}
