/*
 * PHP UK Conference styles
 */ 
 
/* =Fonts
---------------------------------------------------------------- */
@font-face {
    font-family: 'SteelfishRgRegular';
    src: url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot');
    src: url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.woff') format('woff'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.ttf') format('truetype'),
         url('../fonts/steelfish_regular_macroman/steelfish_rg-webfont.svg#SteelfishRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot');
    src: url('../fonts/bebas_neue/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/bebas_neue/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/bebas_neue/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* =Structure
-------------------------------------------------------------- */

html, body {
    height: 100%
    
}
body {
    font-family:  "Arial", sans-serif;
    font-size: 16px; /*All other font sizes derived at percentages */
    line-height: 140%;
    background-color: #fff;
}

h1 {
	
	}
h2 {
	
	}
h3 {
	
	}
ul {
	
}
ol {
	
}
.transparent {
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}


/* = Page Content 
-------------------------------------------------------------- */
	
#page {
 	display: block;
	max-width: 1140px;
	margin: auto;	 
	background: #fff;
	background: #efefef url(images/fallback-gradient.png);
	background-image: -webkit-gradient(radial, 50% 45%, 0, 50% 80%, 100 from(#fff), to(#efefef));
	background-image: -webkit-radial-gradient(50% 45%, closest-corner, #fff, #efefef); 
	background-image: -moz-radial-gradient(50% 45%, closest-corner, #fff, #efefef);
	background-image: -ms-radial-gradient(50% 45%, closest-corner, #fff, #efefef);
	background-image: -o-radial-gradient(50% 45%, closest-corner, #fff, #efefef); 
	min-height: 100%;
}

img.header-image {
    width: 100%;
	position: absolute;
	top: 0;
	margin: auto;
	max-width: 1140px;
}

img.header-logo {
	width: 10%;
	}

#access {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #25272c;
	position:relative;
	z-index: 102;
	color:white;
	font-family: "BebasNeueRegular";
	
	
}
#left-menu {
	text-align:right;
}
#access ul {
	display: inline-block;
}
#access li {
	position: relative;
	display: inline-block;
}
#access a {
	display: block;
	line-height: 2em;
	padding: 0 1em;
	text-decoration: none;
	color: #fff;	
}

#access li:hover > a {
	color: #2492a2;
}
#access ul li:hover > ul {
	display: block;
}


#header {
	}
#header-logo {
	text-align: center;
	position:relative;
	z-index: 103;
	margin-top: -30px;
	}

#header-text {
	text-align: center;
	position:relative;
	padding-top: 5%;
}
.big-title-text {	
	font-family: "SteelfishRgRegular";
	font-size: 400%;
	color: #fff;
}
.small-title-text {	
	font-family: "SteelfishRgRegular";
	font-size: 150%;
	color: #fff;
}
#header-sub-text{
	text-align: center;
	position:relative;
	}
.sub-title-text{
	font-family: "SteelfishRgRegular";
	font-size: 160%;
	color: #da9e26;
	padding-right: 3px;
	}

#header-circles {
	position:relative;
	z-index: 103;
	text-align: center;
	}
img.circle {
	padding: 30px;
	width: 10%;
	}

#bar-below-header {
	height: 60px;
	background-color:black;
	margin-top: -60px;
}
#content-bar-below-header {
	height: 60px;
	margin-top: -60px;
	position:relative;
}

img.ticket-image {	
	width: 32%;
	z-index:110;
	}
#main {
	overflow:auto;
	padding-bottom: 150px;  /* must be same height as the footer */
}

#footer {
	max-width: 1140px;
	margin: auto;
	background-color: #25272c;
	height: 150px;
	position:relative;
	clear: both;
	}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
/* =Navigation
-------------------------------------------------------------- */



/* =Images
-------------------------------------------------------------- */

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}

img.alignleft {
	margin-right: 1em;
}
img.alignright {
	margin-left: 1em;
}

/* =Footer
-------------------------------------------------------------- */

#colophon {
	padding: 1em 0 0;
}
.footer-container {
	max-width: 1140px;
	margin: auto;
	background-color: #303030;
}
.contact {
	padding-left: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer, .push {
	clear:both;
	height: 103px; /*Extra 2px allows for border top*/
}

.footer-wrapper {
	color: #fff;
	border-top: solid 15px #000;
	text-align: center;
	
}
.footer-wrapper h3 {
	padding-bottom: 30px;
	}


/* = jQuery Countdown 
-------------------------------------------------------------- */
.hasCountdown {
	color: white;
	padding-top: 2%;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 100%;
	text-align: center;
	font-family: 'SteelfishRgRegular';
}
.countdown_amount {
	font-family: 'SteelfishRgRegular';
	font-size: 150%;
	color:  #da9e26;
}
.countdown_descr {
	padding-top: 5%;
	font-size: 150%;
	display: block;
	width: 100%;
	font-family: 'SteelfishRgRegular';
	color: white;
}

