# for apache servers everything else goes through index except for the below: robots, images, css, etc.
RewriteEngine On
RewriteCond $1 !^(index\.php|css|js|images|fonts|robots\.txt|humans\.txt|favicon\.ico)
RewriteRule ^(.*)$ index.php?page=$1 [L]
